:root {
  --color-primary: #000000;
  --color-brand: #2196f3;
  --color-accent: #212121;
  --color-grey: #757575;
  --color-main-bcg: #ffffff;
  --color-secondary-bcg: #2f303a;
  --color-portfolio-page-bcg: #f5f5f5;
  --color-portfolio-button: #188ce8;
  --color-portfolio-button-hover: #f5f4fa;
  --color-down-contacts: rgba(255, 255, 255, 0.6);
  --color-border-bottom-header: rgba(236, 236, 236, 1);
  --color-border-portfolio: rgba(238, 238, 238, 1);
  --color-primary-button-shadow: rgba(0, 0, 0, 0.15);
  --color-linear-gradient-hero: rgba(47, 48, 58, 0.4);
  --color-border-clients: rgba(175, 177, 184, 1);
  --color-subscr-icon-bcg: rgba(255, 255, 255, 0.1);
  --color-function: cubic-bezier(0.4, 0, 0.2, 1);
  --color-bcg-overlay: rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
}

.body {
  color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.714;
  background-color: var(--color-main-bcg);
}

/* header */

.header-nav {
  border-bottom: 1px solid var(--color-border-bottom-header);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container.main-nav {
  display: flex;
  align-items: center;
}

.list-nav-item {
  margin-left: 93px;
}

.list-nav {
  display: flex;
}

.list-contact {
  display: flex;
  margin-left: auto;
}

.list-nav .item:not(:last-child) {
  margin-right: 50px;
}

.list-contact .item:not(:last-child) {
  margin-right: 50px;
}

/* .list .item:last-child {
  margin-right: 0;
} */

/* .down-list {
  list-style: none;
} */

.logo {
  color: currentColor;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-blue {
  color: var(--color-brand);
}

.list-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-accent);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;

  position: relative;
  transition: color 250ms var(--color-function);
}

.link:hover,
.link:focus {
  color: var(--color-brand);
}

.link.current {
  color: var(--color-brand);
}

.current::after {
  content: "";
  position: absolute;
  display: inline-block;
  margin-top: 28px;

  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;
  border-radius: 2px;
  background-color: var(--color-brand);

  transition: opacity 250ms var(--color-function);
}


.contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-grey);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;

  transition: color 250ms var(--color-function);
}

.contacts:hover,
.contacts:focus {
  color: var(--color-brand);
}

.contact-icon {
fill: currentColor;
margin-right: 10px;
min-width: 16px;
min-height: 12px;
}

.contact-icon:hover,
.contact-icon:focus {
  fill: var(--color-brand);
}


/* main */

/* .main {
} */

/* .main-text.centered {
text-align: center;
} */

/* dark section effective solutions for your buisness */

/* .overlay {
  max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient (to right,
        var(--color-linear-gradient-hero),
        var(--color-linear-gradient-hero));
    background: url(../images/img.hero.1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /* fill: solid #c4c4c4; */

  color: var(--color-main-bcg);
  text-decoration: none;
  background-color: var(--color-secondary-bcg);

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--color-linear-gradient-hero),
      var(--color-linear-gradient-hero)
    ),
    url('../images/img.hero.1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-text {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  color: var(--color-main-bcg);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button {
  display: block;
  padding: 10px 32px;
    margin-right: auto;
      margin-left: auto;
  min-width: 152px;
  border: 1px solid transparent;

  color: var(--color-main-bcg);
  background-color: var(--color-brand);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;


  transition: background-color 250ms var(--color-function),
      box-shadow 250ms var(--color-function);
}

.primary-button:hover,
.primary-button:focus {
  color: var(--color-main-bcg);
  background-color: var(--color-portfolio-button);
    box-shadow: 0px 4px 4px var(--color-primary-button-shadow);
      cursor: pointer;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bcg-overlay);
  opacity: 1;
  transition: opacity 250ms var(--color-function),
    visibility 250ms var(--color-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0.1);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;
  background-color: var(--color-main-bcg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms var(--color-function);
}

.modal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  padding: 9px 9px 10px 10px;
  width: 30px;
  height: 30px;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-main-bcg);

}

.modal-icon {
  width: 11px;
  height: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* advantages: attention to details, punctuality and planning */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-head {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  color: var(--color-accent);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}
.advantages-head.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-advantages-list {
  display: flex;
}

.item.gap-list:not(:last-child) {
  margin-right: 30px;
}

.advantages-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  content: '';
  width: 270px;
  height: 120px;
  background-color: var(--color-portfolio-button-hover);
  border-radius: 4px;
}

/* .advantages-icon {
  margin: 25px 100px;
} */

.advantages-list {
  margin-top: 0;
  margin-bottom: 10px;
  width: 270px;

  color: var(--color-accent);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--color-grey);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* what we do */

.section.what-we-do {
  padding-top: 0;
}

.list-works {
  display: flex;
}

.list-works .item:not(:first-child) {
  margin-left: 30px;
}

.position-works {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.element-works {
  position: absolute;
  width: 370px;
  padding: 27px 107px;
  border: none;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  white-space: nowrap;
  ;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* our team */

.group {
  background-color: var(--color-portfolio-button-hover);
}

.list-team {
  display: flex;
}

.list-team .item:not(:first-child) {
  margin-left: 30px;
}

.list-team .item {
  background-color: var(--color-main-bcg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item.item.group-name {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  text-align: center;
}

.full-name {
  margin: 0 0 10px 0;
  color: var(--color-accent);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.171;
  letter-spacing: 0.03em;
}

.title-name {
  margin: 0 0 16px 0;
  color: var(--color-grey);
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}


/* .social-item .icon {
  fill: var(---color-border-clients);
} */

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 44px;
  height: 44px;
  fill: var(--color-border-clients);
  background-color: var(--color-subscr-icon-bcg);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms var(--color-function),
      box-shadow 250ms var(--color-function),
      fill 250ms var(--color-function)
}

.social-link:hover,
.social-link:focus {
  fill: var(--color-main-bcg);
  background-color: var(--color-brand);
}

/* clients */

.main-clients-list {
  display: flex;
}

.main-clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-img {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 170px;
  height: 92px;
  fill: var(--color-border-clients);
  background-color: var(--color-main-bcg);
  border: 1px solid var(--color-border-clients);
  border-radius: 4px;
    cursor: pointer;
}

/* .clients-icon {
  margin: 16px 32px;
} */

.clients-img:hover ,
.clients-img:focus {
fill: var(--color-brand);
border: 1px solid var(--color-brand);
}

/* portfolio */
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn .item + .item {
  margin-left: 8px;
}

.nav-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;

  background-color: var(--color-portfolio-button-hover);
  color: var(--color-accent);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: color 250ms var(--color-function),
  background-color 250ms var(--color-function),
  box-shadow 250ms var(--color-function),
  filter 250ms var(--color-function);
}
.nav-button:hover,
.nav-button:focus {
  color: var(--color-main-bcg);
  background-color: var(--color-brand);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section.list {
  background-color: var(--color-main-bcg);
}

.list-photo {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.list-photo .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}


.list-photo .item:nth-child(3n) {
  margin-right: 0;
}

.list-photo .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.photo-link {
  display: block;
  text-decoration: none;
}

.photo-link:hover,
.photo-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.link-backdrop {
  position: relative;
  overflow: hidden;
}

.link-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand);

  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms var(--color-function);
}

.link-backdrop:hover::after {
  transform: translateY(0);
}

.photo-link:hover .link-box {
  transform: translateY(0);
}

.link-text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;

  letter-spacing: 0.03em;
  color: var(--color-main-bcg);
}

.link-text:hover {
  transform: translateY(0);
}

.portfolio.photo-text {
  padding: 20px 24px;
  border-right: 1px solid var(--color-border-portfolio);
  border-left: 1px solid var(--color-border-portfolio);
  border-bottom: 1px solid var(--color-border-portfolio);
}

.name-photo {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--color-accent);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--color-grey);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-secondary-bcg);
}

.container.footer-list {
  display: flex;
  align-items: baseline;
}

.address .footer-list {
  display: flex;
}

.down-logo {
  display: flex;

  color: var(--color-main-bcg);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-list {
  display: flex;
  margin-top: 20px;
}

.address {
  color: var(--color-main-bcg);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms var(--color-function);
}

.address:hover,
.address:focus {
  color: var(--color-brand);
}

.down-list .item {
  display: flex;
}

.down-list .item:not(:last-child) {
  margin-bottom: 9px;
}

/* .down-list .item:first-child {}

.down-list .item:last-child {} */

.container .down-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.down-contacts {
  color: var(--color-down-contacts);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;

  transition: color 250ms var(--color-function);
}

.down-contacts:hover,
.down-contacts:focus {
  color: var(--color-brand);
}

.subscribtion {
margin-left: 70px;
}

.subscribtion-head {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  color: var(--color-main-bcg);
}

.subscribtion-list {
  display: flex;
  gap: 10px;
}


.subscribtion-item .icon {
  fill: var(--color-main-bcg);
}

.subscribtion-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  cursor: pointer;
  fill: var(--color-main-bcg);
  background-color: var(--color-subscr-icon-bcg);
  transition: color 250ms var(--color-function),
      background-color 250ms var(--color-function),
      box-shadow 250ms var(--color-function),
      filter 250ms var(--color-function);
}

.subscribtion-link:hover , 
.subscribtion-link:focus {
  fill: var(--color-brand);
  background-color: var(--color-brand);
}


/* end */
